.container {
    height: auto;
    /* width: 100%; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 5px;
}

.box {
    width: 35%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: red;
}

.tags {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.profile {
    width: 12%;
    display: flex;
    justify-content: center;
    color: red;
    cursor: pointer;
}

.logo {
    width: 12%;
    display: flex;
    justify-content: center;
    color: red;
    cursor: pointer;
}

.Bars {
    display: none;
}